<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reproductor con Imágenes de Bing</title>

    <link rel="icon" href="{{ url_for('static', filename='img/music.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">

    <style>
        body {
            background-image: url({{ bing }});
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div class="container">
        <div id="derechos">
            <p>{{ derechos }}</p>
            <a href="{{ bing }}" download="image.png" title="download">Descarga esta imagen</a>
        </div>

        <audio src="{{ url_for('static', filename='audio/' + titulo) }}" title="{{ titulo }}" controlsList="nodownload"
            controls autoplay></audio>

        <div class="btn-group" id="grupo">
            <a class="btn btn-light" href="{{ url_for('home', index=i+1, idx=idx) }}">
                <img src=" {{ url_for('static', filename='img/shuffle.png') }}" width="44" height="44" id="shuffle">
            </a>
            <button class="btn btn-light" id="folder">
                <img src="{{ url_for('static', filename='img/folder.png') }}" width="44" height="44">
            </button>
            <a class="btn btn-light" href="{{ url_for('reload', index=i, idx=idx) }}">
                <img src=" {{ url_for('static', filename='img/reload.png') }}" width="44" height="44">
            </a>
        </div>
    </div>
</body>

</html>